/**
* CSS practice stylesheet
* author: garrottkai@gmail.com
**/

/**
* Body layout styles
* -------------------------------
**/

.container {
	font-family: Helvetica, sans-serif;
	color: darkslateblue;
	width: 960px;
	margin: 0 auto;

}

body {
	margin: 0;
}

div {
	display: block;

}

#width-50 {
	width: 50%;
	float: left;
}

ul {
	width: 50%;
	float: right;
}

p {

}

/**
* Header styles
* ------------------------------
**/

header {
	background-color: lightblue;
	margin: 50px;

}

/**
* Main
* ------------------------------
**/

main {
	border: 1px solid black;
	background-color: lightsalmon;
}