/**
* CSS practice stylesheet
* author: garrottkai@gmail.com
**/

/**
* Body layout styles
* -------------------------------
**/

.container {
	font-family: Helvetica, sans-serif;
	width: 960px;
	margin: 0 auto;

}

body {
	margin: 0;
}

div {
	display: block;

}

#width-50 {
	width: 50%;
	float: left;
}

ul {
	width: 50%;
	float: right;
}

p {
	margin: 10px;

}

/**
* Header styles
* ------------------------------
**/

header {
	background-color: dodgerblue;
	color: white;
	height: 150%;
	width: 960px;
	padding: 20px;


}

/**
* Main
* ------------------------------
**/

main {
	background-color: lightcyan;
	padding: 20px;
	text-align: left;
	width: 960px;


}